<style>
    .custom-double-banner{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      gap: 2rem;
    }
    .alink{
      text-decoration: none;
      color: {{ section.settings.text-color }};
    }
    .alink2{
      text-decoration: none;
      text-transform: uppercase;
      color: {{ section.settings.btn-color }};
    }
    .half{
      width: 50%;
    }
    .image{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 35rem;
      background-size: cover;
      flex-wrap: nowrap;
    }

    .first-title{
      font-style: normal;
      font-weight: 400;
      font-size: 1.6rem;
      text-align: center;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      margin: 0 0 5px 0;
      line-height: 1.6rem;
    }
    .second-title{
      font-style: normal;
      font-weight: 700;
      font-size: 3rem;
      text-align: center;
      margin: 0;
      line-height: 3rem;
    }
    .custom-button-container {
      display: flex;
      justify-content: end;
      align-items: center;
      padding: 0.5rem;
  }

  @media screen and (max-width: 989px) {
    .half{
      width: 100%;
    }
    .custom-double-banner{
      flex-wrap: wrap;
    }
  }
</style>

<div class="custom-double-banner page-width">
  {% for block in section.blocks %}
    <div class="half">
      <a class="alink" href="{{ block.settings.button_link.url }}">
        <div class="image" style="background-image: url({{ block.settings.banner-image | image_url}});">
          <p class="first-title">{{ block.settings['first-title'] }}</p>
          <p class="second-title">{{ block.settings['second-title'] }}</p>
        </div>
      </a>

      <div class="custom-button-container">
        <a
          href="{{ block.settings.button_link.url }}"
          style="color: {{ section.settings.btn-color }};"
          class="alink2 btn-double-banner"
        >
          {{- block.settings['button-text'] -}}
        </a>
        <svg
          class="arrow-svg"
          version="1.2"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          overflow="visible"
          preserveAspectRatio="none"
          viewBox="0 0 26 26"
          width="24"
          height="24"
          fill="inherit"
        >
            <g transform="translate(1, 1)">
              <path
                fill="inherit"
                d="m10.8788 17.657-1.41396-1.414 4.24196-4.243-4.24196-4.24298 1.41396-1.414 5.656 5.65698z"
                vector-effect="non-scaling-stroke">
            </path>
          </g>
        </svg>
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Custom double banner",
  "settings": [
    {
    "type": "color",
    "id": "text-color",
    "label": "Text color",
    "default": "#FFFFFF"
    },
    {
    "type": "color",
    "id": "btn-color",
    "label": "Button color",
    "default": "#363534"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "banner-image",
      "settings": [
        {
          "type": "text",
          "id": "first-title",
          "label": "First title"
        },
        {
          "type": "text",
          "id": "second-title",
          "label": "Second title"
        },
        {
          "type": "text",
          "id": "button-text",
          "label": "Button text"
        },
        {
          "type": "image_picker",
          "label": "Image",
          "id": "banner-image"
        }, {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ],
      "limit": 2
    }
  ],
  "presets": [
    {
      "category": "custom-double-banner",
      "name": "Custom double banner Ashley"
    }
  ]
}
{% endschema %}
