<style>
  ul.pagination{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 16px 100px 16px 100px;
  }

  li.tab{
    padding: 16px 6px 16px 6px;
    margin: 0;
    font: Arial;
    text-transform: uppercase;
    font-size: clamp(14px, 1vw, 16px);
    letter-spacing: 0.3em;
    font-weight: 500;
    padding-block: 1rem;
    cursor: pointer;
    scroll-snap-align: start;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    width: auto;
    text-align: center;
    justify-content: center;
  }

  li.tab.active{
    color: black;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 0.1rem;
  }

  .collection-content-container{
    display: none;
  }
  .collection-content-container.active{
    display: block;
  }

</style>

<script>

const selectedCollectionFunction = (collectionTitle) => {
  const selectedCollection = collectionTitle;
};

</script>

<ul class="pagination">
{% for collection in section.settings.collection_list %}
  <li class="tab" data-content-id="custom-content-{{ forloop.index }}">
    {{ collection.title }}
    </li>
{%endfor%}
</ul>

<div class="render"></div>

{% for collection in section.settings.collection_list %}

  <div id="custom-content-{{ forloop.index }}" class="collection-content-container">
    <div class="left">
      <div class="collection-image">
        <img src="{{ collection.image | image_url }}" alt="">
     <a href="#" class="btn-collections-all"></a>
     </div>
     </div>
     <div class="right">
       
       <div class="product-container">
           <a href="#"><img src="" alt=""></a>
           <a href="#"><p>{{ settings.section.product-list }}</p></a>
         </div>
     </div>
  </div>

{%endfor%}

<script>

const tabs = document.querySelectorAll('.tab');
const tabContent = document.querySelectorAll('.collection-content-container');

tabs.forEach((tab) =>{
  tab.addEventListener('click', (e) => {

    contentId = e.target.dataset.contentId;
    content = document.getElementById(contentId);

    tabContent.forEach((content) => {
      content.classList.remove('active');
    })
    tabs.forEach((tab) => {
      tab.classList.remove('active');
    })

    e.target.classList.add('active');
    content.classList.add('active');
  })
})

</script>

{% schema %}
  {
    "name": "Custom collection section",
    "settings": [

    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "Collections",
      "limit": 6
    }
      
    ],
    "presets": [
      {
        "category": "custom-collection-banner",
        "name": "Custom collection section Ashley"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}