{% style %}
  *{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
  }
  .sub-image-container img{
    width: 110%;
    height: 275px;
    margin: 15px 0px 0px 0px;
    object-fit: contain;
    border: 1px solid #000;
  }
  .heading{
    display:flex;
    justify-content: center;
    align-items: flex-end;
  }
  .heading span{
    margin: 0 0 0 15px;
  }
  .bolded-h{
    font-size: 32px;
    font-weight: 900;
    letter-spacing: -1.5px;
  }
  .nobold-h{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
  }
  .container{
    padding: 0px 0px 0px 0px;
    margin: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFE8D0;
     border: 1px solid #000;s
  }
  .column-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .column{
    width: 30%;
  }
  .macro-link{
    text-transform: uppercase;
    font-size: 24px;
  }
  .macro-link::after{
    margin-left: 20px;
    content: ">";
  }
{% endstyle %}

{% assign macrocategory = page.metafields.custom.reference.value %}
{% assign subcategories = macrocategory.subcategories %}
<div class="page-width">
  <h1>{{ macrocategory.name }}</h1>
  <div class="container">
    <div class="heading">
      <p class="nobold-h">
        <strong class="bolded-h">{{ section.settings['bold-section-heading'] }}</strong>
        {{ section.settings['no-bold-section-heading'] }}
      </p>
    </div>
    <div class="column-container">
      {% for subcategory in subcategories.value %}
        {% assign subcategoriespage = subcategory.page.value %}
        <div class="column">
          <div class="sub-image-container">
            <img src="{{ subcategory.image | image_url }}" alt="sub image">
            <a href="{{ subcategoriespage.url }}">
              <h1 class="macro-link">
                {{ subcategory.name }}
              </h1>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "Custom macrocategory",
  "settings": [
    {
      "type": "text",
      "id": "bold-section-heading",
      "label": "Bold columns heading",
      "default": "aniversary sale"
    }, {
      "type": "text",
      "id": "no-bold-section-heading",
      "label": "No bold columns heading",
      "default": "Styles for days."
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "category": "macro-category-1",
      "name": "Custom macrocategory 1 section Ashley"
    }
  ]
}
{% endschema %}
