{{ 'macrocategories.css' | asset_url | stylesheet_tag }}

{% assign macrocategory = page.metafields.custom.reference.value %}
{% assign subcategories = macrocategory.subcategories %}
<div class="page-width">
  <h1 class="macro-cat-title">{{ macrocategory.name }}</h1>
  <div class="container" style="background-color: {{ section.settings.backgroundColor }};">
    <div class="heading">
      <div class="bolded-h" style="color: {{ section.settings.titleAndSubtitleColor }};">
        <strong>{{ macrocategory.section_1_text_1 }}</strong>
        <span span="nobold-h" style="color: {{ section.settings.titleAndSubtitleColor }};">{{ macrocategory.section_1_text_2 }}</span>
      </div>
    </div>
    <div class="column-container">
      {% for subcategory in subcategories.value %}
        {% if forloop.index <= section.settings.colnum %}
          {% assign subcategoriespage = subcategory.page.value %}
          <div class="column">
            <div class="sub-image-container">
              {% if subcategory.offertag != '' %}
                <div class="sale" style="background-color: {{ section.settings.backgroundSaleColor }};">
                  <p style="color: {{ section.settings.saleTextColor }};">{{ subcategory.offertag }}</p>
                </div>
              {% endif %}
              <img src="{{ subcategory.image | image_url }}" alt="sub image">
              <a href="{{ subcategoriespage.url }}">
                <h2 class="macro-link" style="color: {{ section.settings.titleAndSubtitleColor }};">
                  {{ subcategory.name }}
                </h2>
              </a>
               
              <a>
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                 width="40.000000pt" height="40.000000pt" viewBox="0 0 40.000000 40.000000"
                 preserveAspectRatio="xMidYMid meet">
                
                <g transform="translate(0.000000,40.000000) scale(0.100000,-0.100000)"
                fill="#000000" stroke="none">
                <path d="M146 293 c-3 -4 13 -26 36 -50 l42 -43 -43 -44 c-29 -30 -39 -46 -31
                -51 8 -5 32 12 63 44 l52 51 -50 50 c-50 51 -57 55 -69 43z"/>
                </g>
                </svg>
              </a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "Custom macrocategory",
  "settings": [
    {
      "type": "number",
      "id": "colnum",
      "label": "# Columns inside section",
      "default": 3
    },
    {
      "type":"header",
      "content":" ----------------- Text colors ----------------- "
    },
    {
      "type": "color",
      "id": "titleAndSubtitleColor",
      "label": "Title and subtitle text color",
      "default": "#393731"
    },
    {
      "type": "color",
      "id": "saleTextColor",
      "label": "Sale text color",
      "default": "#fff"
    },
    {
      "type":"header",
      "content":" ------------ Background colors ------------ "
    },
    {
      "type": "color",
      "id": "backgroundColor",
      "label": "Section background color",
      "default": "#fffaee"
    },
    {
      "type": "color",
      "id": "backgroundSaleColor",
      "label": "Sale background color",
      "default": "#c60f2f"
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "category": "macro-category-1",
      "name": "Custom macrocategory 1 section Ashley"
    }
  ]
}
{% endschema %}
