{% assign macro = page.metafields.custom.reference %}

<p>{{ macro }}</p>

{% assign macrotitle1 = page.title | replace: ' - ', '-' %}
{% assign macrotitle = macrotitle1 | replace: ' ', '-' %}
{% assign category = shop.metaobjects.macro_categories[macrotitle] %}

{% comment %}
  <h1>{{ category.name }}</h1>
  <p>{{ category.description }}</p>
  {{ category.image | metafield_tag }}
  {% assign subs = category.subcategories %}

  {% for sub in subs %}
    {{ sub }}
  {% endfor %}
{% endcomment %}

<h1>{{ category.name }}</h1>
<p>{{ category.description }}</p>
{% assign collectionNameFix1 = category.collection_subcategories | replace: ' - ', '-' %}
{% assign collectionNameFix2 = collectionNameFix1 | replace: ' ', '-' %}
<p>{{ collectionNameFix2 }}</p>

<hr>

{% for subcategory in collection.metafields.custom.subcategories_of.value %}
  {{ shop.metaobjects.subCategories[subcategory] }}
{% endfor %}
