{{ 'macrocategories.css' | asset_url | stylesheet_tag }}

{% assign macrocategory = page.metafields.custom.reference.value %}
{% assign subcategories = macrocategory.subcategories %}
<div class="page-width">
  <h1 class="macro-cat-title">{{ macrocategory.name }}</h1>
  <div class="container" style="background-color: {{ section.settings.backgroundColor }};">
    <div class="heading">
      <div class="bolded-h" style="color: {{ section.settings.titleAndSubtitleColor }};">
        <strong>{{ macrocategory.section_1_text_1 }}</strong>
        <span span="nobold-h" style="color: {{ section.settings.titleAndSubtitleColor }};">{{ macrocategory.section_1_text_2 }}</span>
      </div>
    </div>
    <div class="column-container">
      {% for subcategory in subcategories.value %}
        {% if forloop.index <= section.settings.colnum %}
          {% assign subcategoriespage = subcategory.page.value %}
          <div class="column">
            <div class="sub-image-container">
              {% if subcategory.offertag != '' %}
                <div class="sale" style="background-color: {{ section.settings.backgroundSaleColor }};">
                  <p style="color: {{ section.settings.saleTextColor }};">{{ subcategory.offertag }}</p>
                </div>
              {% endif %}
              <img src="{{ subcategory.image | image_url }}" alt="sub image">
              <a href="{{ subcategoriespage.url }}">
                <h2 class="macro-link" style="color: {{ section.settings.titleAndSubtitleColor }};">
                  {{ subcategory.name }}
                </h2>
              </a>
               
              <a>
                <svg
  class="icon icon-cart"
  aria-hidden="true"
  focusable="false"
  role="presentation"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 40 40"
  fill="none">
  <path
    fill="currentColor"
    fill-rule="evenodd"
    d="M20.5 6.5a4.75 4.75 0 00-4.75 4.75v.56h-3.16l-.77 11.6a5 5 0 004.99 5.34h7.38a5 5 0 004.99-5.33l-.77-11.6h-3.16v-.57A4.75 4.75 0 0020.5 6.5zm3.75 5.31v-.56a3.75 3.75 0 10-7.5 0v.56h7.5zm-7.5 1h7.5v.56a3.75 3.75 0 11-7.5 0v-.56zm-1 0v.56a4.75 4.75 0 109.5 0v-.56h2.22l.71 10.67a4 4 0 01-3.99 4.27h-7.38a4 4 0 01-4-4.27l.72-10.67h2.22z" />
</svg>
              </a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "Custom macrocategory",
  "settings": [
    {
      "type": "number",
      "id": "colnum",
      "label": "# Columns inside section",
      "default": 3
    },
    {
      "type":"header",
      "content":" ----------------- Text colors ----------------- "
    },
    {
      "type": "color",
      "id": "titleAndSubtitleColor",
      "label": "Title and subtitle text color",
      "default": "#393731"
    },
    {
      "type": "color",
      "id": "saleTextColor",
      "label": "Sale text color",
      "default": "#fff"
    },
    {
      "type":"header",
      "content":" ------------ Background colors ------------ "
    },
    {
      "type": "color",
      "id": "backgroundColor",
      "label": "Section background color",
      "default": "#fffaee"
    },
    {
      "type": "color",
      "id": "backgroundSaleColor",
      "label": "Sale background color",
      "default": "#c60f2f"
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "category": "macro-category-1",
      "name": "Custom macrocategory 1 section Ashley"
    }
  ]
}
{% endschema %}
