{% style %}
 *{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
   }
   .sub-image-container{
    margin: 0px 15px;
    overflow: hidden;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 
                0px 2px 4px rgba(0,0,0,0.1), 
                0px 4px 8px rgba(0,0,0,0.1), 
                0px 8px 16px rgba(0,0,0,0.1);
  }
   .sub-image-container img{
     width: 100%;
     height: 275px;
background-size: cover;
     position: center;
     border: 1px solid black;
   }
   .heading{
     display:flex;
     justify-content: center;
     align-items: flex-end;
   }
   .heading span{
     margin: 0 0 0 1px;
     font-family: Open Sans;
     font-size: 20px;
     font-weight: 500;
     letter-spacing: 0;
     color: black;
   }
   .bolded-h{
     margin: 0px 17px 30px 20px;
     font-family: Open Sans;
     font-size: 30px;
     font-weight: 900;
     letter-spacing: -0.4px;
     color: black;
   }
   .container{
     padding: 50px 0px;
     margin: 0px 0px 10px 0px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     background-color: #FFE8D0;
   }
   .column-container{
     display: flex;
     flex-direction: row;
     justify-content: center;
   }
   .column{
     width: 30%;
   }
   .macro-cat-title{
     font-family: Open Sans;
     font-size: 28px;
     font-weight: 700;
     line-height: 36px;
     letter-spacing: 0;
     text-align: left;
     text-transform: capitalize;
     margin-bottom: 8px;

   }
   .macro-link{
     text-transform: uppercase;
     font-family: Open Sans;
      font-size: 1em;
     font-weight: 800;
     margin: 10px 0px 0px 16px;
   }
   .macro-link::after{
     margin-left: 5px;
     content: ">";
   }
{% endstyle %}

{% assign macrocategory = page.metafields.custom.reference.value %}
{% assign subcategories = macrocategory.subcategories %}
<div class="page-width">
  <h1 class="macro-cat-title">{{ macrocategory.name }}</h1>
  <div class="container">
    <div class="heading">
      <div class="bolded-h">
        <strong>{{ section.settings['bold-section-heading'] }}</strong>
       <span span="nobold-h">{{ section.settings['no-bold-section-heading'] }}</span> 
      </div>
      
    </div>
    <div class="column-container">
      {% for subcategory in subcategories.value %}
        {% assign subcategoriespage = subcategory.page.value %}
        <div class="column">
          <div class="sub-image-container">
            <img src="{{ subcategory.image | image_url }}" alt="sub image">   
          </div>
           <a href="{{ subcategoriespage.url }}">
              <h2 class="macro-link">
                {{ subcategory.name }}
              </h2>
            </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "Custom macrocategory",
  "settings": [
    {
      "type": "text",
      "id": "bold-section-heading",
      "label": "Bold columns heading",
      "default": "aniversary sale"
    }, {
      "type": "text",
      "id": "no-bold-section-heading",
      "label": "No bold columns heading",
      "default": "Styles for days."
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "category": "macro-category-1",
      "name": "Custom macrocategory 1 section Ashley"
    }
  ]
}
{% endschema %}
