{% assign macrocategory = page.metafields.custom.reference.value %}
{% assign subcategories = macrocategory.subcategories %}

<h1>{{ macrocategory.name }}</h1>
<img src="{{ macrocategory.image | image_url }}" alt="macro image" width="350" height="350">
<p>{{ macrocategory.description }}</p>
<div class="container">
  {% for subcategory in subcategories.value %}
    <div class="column">
      <div>
        <img src="{{ subcategory.image | image_url }}" alt="sub image" width="350" height="350">
        <h1>{{ subcategory.name }}</h1>
      </div>
    </div>
  {% endfor %}
</div>
{% schema %}
  {
  "name": "Custom macrocategory",
  "settings": [
    {
      "type": "color",
      "id": "btn-txt-color",
      "label": "Button text color",
      "default": "#363534"
    }, {
      "type": "color",
      "id": "btn-bg-color",
      "label": "Button background color",
      "default": "#F4F4F4"
    }

  ],
  "blocks": [

  ],
  "presets": [
    {
      "category": "macro-category-1",
      "name": "Custom macrocategory 1 section Ashley"
    }
  ]
}
{% endschema %}
