{% assign macrocategory = page.metafields.custom.reference.value %}
{% assign subcategories = macrocategory.subcategories %}

<h1>{{ macrocategory.name }}</h1>
<p>{{ macrocategory.description }}</p>

<div class="container">
  <img src="{{ macrocategory.image | image_url }}" alt="Girl in a jacket" width="350" height="350">
  <div class="column">
    <div></div>
  </div>
</div>

{% for subcategory in subcategories.value %}
  <h1>{{ subcategory.name }}</h1>
  {{ subcategory.image | metafield_tag }}
{% endfor %}

{% schema %}
  {
  "name": "Custom macrocategory",
  "settings": [
    {
      "type": "color",
      "id": "btn-txt-color",
      "label": "Button text color",
      "default": "#363534"
    }, {
      "type": "color",
      "id": "btn-bg-color",
      "label": "Button background color",
      "default": "#F4F4F4"
    }

  ],
  "blocks": [

  ],
  "presets": [
    {
      "category": "macro-category-1",
      "name": "Custom macrocategory 1 section Ashley"
    }
  ]
}
{% endschema %}
