{% style %}
  .heading{
    display:flex;
    justify-content: center;
  }
  .heading span{
    margin: 0 0 0 15px;
  }
  .container{
    margin: 250px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFE8D0;
  }
  .column-container{
    display: flex;
    flex-direction: row;
  }
  .column{
    width: 30%;
  }
{% endstyle %}

{% assign macrocategory = page.metafields.custom.reference.value %}
{% assign subcategories = macrocategory.subcategories %}

<div class="container">
  <div class="heading">
    <span>{{ section.settings['bold-section-heading'] }}</span>
    <span>{{ section.settings['no-bold-section-heading'] }}</span>
  </div>
  <div class="column-container">
    {% for subcategory in subcategories.value %}
      <div class="column">
        <div>
          <img src="{{ subcategory.image | image_url }}" alt="sub image" width="350" height="350">
          <h1>{{ subcategory.name }}</h1>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<h1>{{ macrocategory.name }}</h1>
<img src="{{ macrocategory.image | image_url }}" alt="macro image" width="622" height="350">
<p>{{ macrocategory.description }}</p>

{% schema %}
  {
  "name": "Custom macrocategory",
  "settings": [
    {
      "type": "text",
      "id": "bold-section-heading",
      "label": "Bold columns heading",
      "default": "aniversary sale"
    }, {
      "type": "text",
      "id": "no-bold-section-heading",
      "label": "No bold columns heading",
      "default": "Styles for days."
    }

  ],
  "blocks": [

  ],
  "presets": [
    {
      "category": "macro-category-1",
      "name": "Custom macrocategory 1 section Ashley"
    }
  ]
}
{% endschema %}
