{% assign macro = page.metafields.custom.values %}

{% assign macrotitle1 = page.title | replace: ' - ', '-' %}
{% assign macrotitle = macrotitle1 | replace: ' ', '-' %}
{% assign category = shop.metaobjects.macro_categories[macrotitle] %}

{% comment %}
  <h1>{{ category.name }}</h1>
  <p>{{ category.description }}</p>
  {{ category.image | metafield_tag }}
  {% assign subs = category.subcategories %}

  {% for sub in subs %}
    {{ sub }}
  {% endfor %}
{% endcomment %}

{% for metaobject in page.metafields.custom.values %}
<h1>{{ metaobject.field }}</h1>
<p>{{ metaobject.field.value }}</p>
{% endfor %}


<hr>

{% for subcategory in collection.metafields.custom.subcategories_of.value %}
  {{ subcategory.Title }}
{% endfor %}
