{% assign macrocategory = page.metafields.custom.reference.value %}

<h1>{{ macrocategory.name }}</h1>
<p>{{ macrocategory.description }}</p>
{{ macrocategory.image | metafield_tag }}

{% assign subcategories = macrocategory.subcategories %}

{% for subcategory in subcategories.value %}
  <h1>{{ subcategory.name }}</h1>
  {{ subcategory.image | metafield_tag }}
{% endfor %}
