{% stylesheet %}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}
.section-container-3{
    background-color: royalblue;
    height: 500px;
    display: flex;
    padding: 5px;
    margin: 30px 0 30px 0;
}
.left{
    background-color: aqua;
    width: 50%;
}
.img-product-left{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    
}
.right{
    background-color: brown;
    width: 50%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.right .item{
    background-color: #F6F6F6;
}
.right .item:nth-child(1){
    background-color: #EFEFEF;
}
.right .item:nth-child(4){
    background-color: #EFEFEF;
}
.img-product-right{
       aspect-ratio : 
}
{% endstylesheet %}

{% assign macrocategory = page.metafields.custom.reference.value %}
{% assign subcategories = macrocategory.subcategories %}
<div class="page-width">
  <div class="section-macro-3">
    {% for subcategory in subcategories.value %}
       {% if forloop.index == section.settings.subid %}
          {% assign subcategoriescollections = subcategory.collections %}
          {% assign subcategoriespage = subcategory.page.value %}
          {% assign subimageurl = subcategory.image | image_url %}
         <div class="section-container-3">
           <div class="left">
             
           </div>
          <div class="right" style="grid-template-columns: repeat({{ section.settings.colnum }}, 1fr)">
              <div class="item">
                <p class="bolded-h2">
                <strong>{{ subcategory.macro_section_title }}</strong>
                </p>
                <div class="link-shop">
                  <a href="#">
                  <strong>Shop all {{ subcategory.name}}</strong>
                   </a>
                 </div>
              </div>
            {% for collection in subcategoriescollections.value %}
            <div class="item">
              <img src="{{ collection.image | image_url }}" alt="Collection Image" class="img-product-right">
              <p class="collection-title">{{ collection.title }}</p>
              <p class="collection-description">{{ collection.description }}</p>
              <a href="{{ collection.url }}" class="collection-link">{{ section.settings.x-text }}</a>
            </div>
          {% endfor %}
           </div>      
         </div>
       {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
    {
  "name": "Custom macrocategory 3",
  "settings": [
    {
      "type": "number",
      "id": "subid",
      "label": "id for sub of the macro you want to use for the section",
      "default": 2
    },
    {
    "type": "number",
  "id": "colnum",
  "label": "# of columns",
  "default": 3
    },
    {
      "type": "number",
      "id": "colid",
      "label": "id for collection of the sub you want to use for the section",
      "default": 3
    },
    {
      "type": "text",
      "id": "x-text",
      "label": "button text",
      "default": "shop all dinning"
    },
    {
     "type": "text",
      "id": "x-heading",
      "label": "heading text",
      "default": "styles is on menu"
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "category": "macro-category-3",
      "name": "Custom macrocategory 3 section Ashley"
    }
  ]
}
{% endschema %}