{% style %}
  .sub-image-container{
    width: 100%;
  }
  .heading{
    display:flex;
    justify-content: center;
    align-items: flex-end;
  }
  .heading span{
    margin: 0 0 0 15px;
  }
  .bolded-h{
    font-size: 36px;
    font-weight: 900;
  }
  .nobold-h{
    font-size: 16px;
    font-weight: 400;
  }
  .container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFE8D0;
  }
  .column-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .column{
    width: 30%;
  }
  .macro-link{
    text-transform: uppercase;
    font-size: 24px;
  }
  .macro-link::after{
    margin-left: 20px;
    content: ">";
  }
{% endstyle %}

{% assign macrocategory = page.metafields.custom.reference.value %}
{% assign subcategories = macrocategory.subcategories %}
<div class="page-width">
  <h1>{{ macrocategory.name }}</h1>
  <div class="container">
    <div class="heading">
      <p class="nobold-h">
        <strong class="bolded-h">{{ section.settings['bold-section-heading'] }}</strong>
        {{ section.settings['no-bold-section-heading'] }}
      </p>
    </div>
    <div class="column-container">
      {% for subcategory in subcategories.value %}
        {% assign subcategoriespage = subcategory.page.value %}
        <div class="column">
          <div>
            <img class="sub-image-container" src="{{ subcategory.image | image_url }}" alt="sub image">
            <a href="{{ subcategoriespage.url }}">
              <h1 class="macro-link">
                {{ subcategory.name }}
              </h1>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<img src="{{ macrocategory.image | image_url }}" alt="macro image" width="622" height="350">
<p>{{ macrocategory.description }}</p>

{% schema %}
  {
  "name": "Custom macrocategory",
  "settings": [
    {
      "type": "text",
      "id": "bold-section-heading",
      "label": "Bold columns heading",
      "default": "aniversary sale"
    }, {
      "type": "text",
      "id": "no-bold-section-heading",
      "label": "No bold columns heading",
      "default": "Styles for days."
    }

  ],
  "blocks": [

  ],
  "presets": [
    {
      "category": "macro-category-1",
      "name": "Custom macrocategory 1 section Ashley"
    }
  ]
}
{% endschema %}
