{{ 'macrocategories.css' | asset_url | stylesheet_tag }}

{% assign macrocategory = metaobject %}
{% assign subcategories = macrocategory.subcategories %}

<div class="page-width" style="background-color:{{ section.settings.backgroundSectionColor }};">
  <p class="heading-categories-6" style="color: {{ section.settings.colorText }};">
    Explora más {{ macrocategory.name }}
  </p>
  <div class="macro-section-6">
    <div class="subcategories-6">
      <div class="subcategory-scroll">
        {% assign limit = section.settings.numberCollections %}
        {% for subcategory in subcategories.value %}
          {% if forloop.index <= limit %}
            <div class="subcategory-6" style="background-color:{{ section.settings.backgroundItemColor }};">
              <a href="{{ subcategory.system.url }}">
                <img src="{{ subcategory.image | image_url }}" alt="collection image">

                <div class="link-container">
                  <p style="color: {{ section.settings.colorText }};">{{ subcategory.name }}</p>
                  <style>
                    .macro-section-6 .iconNext {
                      fill: {{ section.settings.colorText }};
                    }
                  </style>
                  {% render 'nextIcon' %}
                </div>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "macro-category-6",
  "settings": [
    {
      "type":"header",
      "content":" ------------- Configure section ------------- "
    },
    {
      "type": "number",
      "id": "numberCollections",
      "label": "Number of subcategories in the section",
      "default": 7
    },
    {
     "type":"header",
     "content":" ----------------- Text colors ----------------- "
    },
    {
      "type": "color",
      "id": "colorText",
      "label": "Text color",
      "default": "#000000"
    },
    {
      "type":"header",
      "content":" ------------ Background colors ------------ "
    },
    {
      "type": "color",
      "id": "backgroundSectionColor",
      "label": "Background section color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "backgroundItemColor",
      "label": "Background subcategories item",
      "default": "#FFFFFF"
    }
  ],
  "presets": [
  {
    "category": "macro-category-6",
    "name": "Custom macrocategory 6 section Ashley"
  }
]
}
{% endschema %}
