{% stylesheet %}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}
.macro-title{
     font-family: Open Sans;
     font-size: 30px;
     padding: 50px 0px 60px 0px;
     font-weight: bolder;
     width: 60%;
     text-align: center;
     line-height: 30px;
  }
.section-container-3{
    background-color: blue;
    height: 500px;
    display: flex;
    margin: 30px 0 30px 0;
}
.left-m3{
    
    width: 50%;
}
.img-product-left-m3{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.rightm3{
    background-color: brown;
    width: 50%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.img-item {
  width: 200px;
  height: 200px;
  object-fit: cover;
  justify-content: center;
}
.rightm3 .item{
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}
.link-shop-m3{
      display: inline-block;
      width: auto;
      text-align: center;
      padding: 5px 7px 5px 7px;
 }
.rightm3 .item:nth-child(1){
    background-color: #EFEFEF;
}
.rightm3 .item:nth-child(4){
    background-color: #EFEFEF;
}
.img-product-right{
       aspect-ratio: 1/1;
}
.collection-link {
    color: black;
    font-weight: bolder;
  }
p.collection-title{
    font-weight: bolder;
    font-family: Open Sans;
    padding: 6px;
  }
{% endstylesheet %}

{% assign macrocategory = page.metafields.custom.reference.value %}
{% assign subcategories = macrocategory.subcategories %}
<div class="page-width">
  <div class="section-macro-3">
    {% for subcategory in subcategories.value %}
       {% if forloop.index == section.settings.subid %}
          {% assign subcategoriescollections = subcategory.collections %}
          {% assign subcategoriespage = subcategory.page.value %}
          {% assign subimageurl = subcategory.image | image_url %}
         <div class="section-container-3">
           <div class="left-m3">
           </div>
          <div class="rightm3" style="grid-template-columns: repeat({{ section.settings.colnum }}, 1fr)">
              <div class="item">
                <p class="macro-title">
                <strong>{{ subcategory.macro_section_title }}</strong>
                </p>
                <div class="link-shop-m3">
                    <a href="{{ collection.url }}" class="collection-link">Shop all {{ subcategory.name }}</a>
                 </div>
              </div>
            {% for collection in subcategoriescollections.value %}
            <div class="item">
              <img src="{{ collection.image | image_url }}" alt="Collection Image" class="img-item">
              <p class="collection-title">{{ collection.title }}</p>
              <p class="collection-description">{{ collection.description }}</p>
            </div>
          {% endfor %}
           </div>      
         </div>
       {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
    {
  "name": "Custom macrocategory 3",
  "settings": [
    {
      "type": "number",
      "id": "subid",
      "label": "id for sub of the macro you want to use for the section",
      "default": 2
    },
    {
    "type": "number",
  "id": "colnum",
  "label": "# of columns",
  "default": 3
    },
    {
      "type": "number",
      "id": "colid",
      "label": "id for collection of the sub you want to use for the section",
      "default": 3
    },
    {
      "type": "text",
      "id": "x-text",
      "label": "button text",
      "default": "shop all dinning"
    },
    {
     "type": "text",
      "id": "x-heading",
      "label": "heading text",
      "default": "styles is on menu"
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "category": "macro-category-3",
      "name": "Custom macrocategory 3 section Ashley"
    }
  ]
}
{% endschema %}