{% assign macrocategory = page.metafields.custom.reference.value %}
{% assign subcategories = macrocategory.subcategories %}

<h1>{{ macrocategory.name }}</h1>
<img src="{{ macrocategory.image | image_url }}" alt="macro image" width="350" height="350">
<p>{{ macrocategory.description }}</p>

<hr>
<div class="container">
  <span>{{ section.settings['bold-section-heading'] }}</span>
  <span>{{ section.settings['no-bold-section-heading'] }}</span>
  <div class="column-container">
    {% for subcategory in subcategories.value %}
      <div class="column">
        <div>
          <img src="{{ subcategory.image | image_url }}" alt="sub image" width="350" height="350">
          <h1>{{ subcategory.name }}</h1>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
  "name": "Custom macrocategory",
  "settings": [
    {
      "type": "text",
      "id": "bold-section-heading",
      "label": "Bold columns heading",
      "default": "aniversary sale"
    }, {
      "type": "text",
      "id": "no-bold-section-heading",
      "label": "No bold columns heading",
      "default": "Styles for days."
    }

  ],
  "blocks": [

  ],
  "presets": [
    {
      "category": "macro-category-1",
      "name": "Custom macrocategory 1 section Ashley"
    }
  ]
}
{% endschema %}
