{% style %}
  .section-macro-3{
    margin: 30px 0 30px 0;
  }
  .section-container-3{
    height: 200px;
    background-color: red;
    display: flex;
    flex-direction: row;
  }
  .section-container-3 .left{
    width:30%;
    background-color: #F3EFEA;
  }
  .section-container-3 .right{
    width: 70%;
    background-color: #D3D3D3;
  }
  .bolded-h{
    line-height: 32px;
  }
  .section-bottom-3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .section-bottom-3 .column{
    margin: 10px;
  }
  .image-col img{
    width: 100%;
  }
{% endstyle %}

{% assign macrocategory = page.metafields.custom.reference.value %}
{% assign subcategories = macrocategory.subcategories %}

<div class="section-macro-3">
  <div class="page-width">
    <div class="section-container-3">
      <div class="left">
        <p class="bolded-h">
          <strong>{{ section.settings['x-heading'] }}</strong>
        </p>
        <a href="#">
          <p>{{ section.settings['x-text'] }}</p>
        </a>
      </div>
      <div class="right">{{ section.settings['x-text'] }}</div>
    </div>
<div class="section-bottom-3">
  {% for subcategory in subcategories.value %}
    {% if forloop.index == section.settings.subid %}
      {% assign subcategoriescollections = subcategory.collections %}
      {% assign subcategoriespage = subcategory.page.value %}
      {% for collection in subcategoriescollections.value %}
        {% if forloop.index == section.settings.colid %}
          {% for product in collection.products %}
            {% if forloop.index <= section.settings.colnum %}
            <div class="column">
              <div class="image-col"><img src="{{ product.featured_image | image_url }}" alt="product image"></div>
              <a href="{{ product.url }}">
                <p>{{ product.title }}</p>
              </a>
            </div>
              {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>
{% schema %}
  {
  "name": "Custom macrocategory 3",
  "settings": [
    {
      "type": "number",
      "id": "subid",
      "label": "id for sub of the macro you want to use for the section",
      "default": 1
    },
    {
      "type": "number",
      "id": "colnum",
      "label": "id for sub of the macro you want to use for the section",
      "default": 1
    },
    {
      "type": "number",
      "id": "colid",
      "label": "id for collection of the sub you want to use for the section",
      "default": 1
    },
    {
      "type": "text",
      "id": "x-text",
      "label": "button text",
      "default": "shop all bedrooms"
    },
    {
     "type": "text",
      "id": "x-heading",
      "label": "heading text",
      "default": "restful nights, <br> every night"
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "category": "macro-category-3",
      "name": "Custom macrocategory 3 section Ashley"
    }
  ]
}
{% endschema %}
