{% assign macro = page.metafields.custom.reference %}

{% assign macrotitle1 = page.title | replace: ' - ', '-' %}
{% assign macrotitle = macrotitle1 | replace: ' ', '-' %}
{% assign category = shop.metaobjects['macro_categories'][macrotitle] %}

{% assign metaobjects = shop.metaobjects %}

  <p>{{ macro }}</p>
  <h1>{{ category.name }}</h1>
  {{ category.image | metafield_tag }}
  {% assign subs = category.subcategories %}

  <hr>

  <h1>Metaobjects</h1>
  {% for metaobject in metaobjects %}
    {{ metaobject }}
  {% endfor %}

  {% for sub in subs %}
      {{ sub }}
    {% endfor %}

  


