{% style %}
  *{
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   border: none;
   outline: none;
    }
    .sub-image-container{
     position: relative;
     margin: 0px 10px;
     align-items: right;
   }
    .sub-image-container img{
      width: 100%;
      height: 275px;
      background-size: cover;
      object-fit: cover;
      object-position: center;
    }
    .sale{
      display: flex;
      justify-content: center;
      align-items: center;
     position: absolute;
     height: 12%;
     top: 0;
     right: 0;
     background: #C60F2F;
   }
  .sale p{
    text-transform: uppercase;
      font-family: Open Sans;
      font-size: 0.9em;
      font-weight: 200;
      margin: 3px 0px 0px 9px;
      padding: 10px 20px 10px 20px;
    color: #fff;
  }
  .sale p sup{
    font-size: 0.6em;
  }
    .heading{
      display:flex;
      justify-content: center;
      align-items: flex-end;
    }
    .heading span{
      margin: 0 0 0 1px;
      font-family: Open Sans;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0;
      color: black;
    }
    .bolded-h{
      margin: 0px 17px 30px 20px;
      font-family: Open Sans;
      font-size: 30px;
      font-weight: 900;
      letter-spacing: -0.4px;
      color: black;
    }
    .container{
      padding: 50px 0px;
      margin: 0px 0px 10px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #FFE8D0;
    }
    .column-container{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .column{
      width: 30%;
    }
    .macro-cat-title{
      font-family: Open Sans;
      font-size: 28px;
      font-weight: normal;
      line-height: 36px;
      letter-spacing: 0;
      text-align: left;
      text-transform: capitalize;
      margin: 50px 50px;
    }
    .macro-link{
      text-transform: uppercase;
      font-family: Open Sans;
      font-size: 1em;
      font-weight: 500;
      margin: 3px 0px 0px 9px;
      padding-bottom: 10px;
    }
    .macro-link::after{
      margin-left: 5px;
      background-image: url('https://cdn.shopify.com/s/files/1/0703/9723/1413/files/32213.png?v=1679027077');
      background-size: 10px 10px;
      display: inline-block;
      width: 10px;
      height: 10px;
      content:"";
    }
{% endstyle %}

{% assign macrocategory = page.metafields.custom.reference.value %}
{% assign subcategories = macrocategory.subcategories %}
<div class="page-width">
  <h1 class="macro-cat-title">{{ macrocategory.name }}</h1>
  <div class="container">
    <div class="heading">
      <div class="bolded-h">
        <strong>{{ macrocategory.section_1_text_1 }}</strong>
        <span span="nobold-h">{{ macrocategory.section_1_text_2 }}</span>
      </div>
    </div>
    <div class="column-container">
      {% for subcategory in subcategories.value %}
        {% assign subcategoriespage = subcategory.page.value %}
        <div class="column">
          <div class="sub-image-container">
            {% if subcategory.offertag != '' %}
            <div class="sale">
              <p class="offer tag">{{ subcategory.offertag }}</p>
            </div>
              {% endif %}
            <img src="{{ subcategory.image | image_url }}" alt="sub image">
            <a href="{{ subcategoriespage.url }}">
              <h2 class="macro-link">
                {{ subcategory.name }}
              </h2>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "Custom macrocategory",
  "settings": [
  ],
  "blocks": [
  ],
  "presets": [
    {
      "category": "macro-category-1",
      "name": "Custom macrocategory 1 section Ashley"
    }
  ]
}
{% endschema %}
