{% assign macro = page.metafields.custom.reference.value %}

{% assign macrotitle1 = page.title | replace: ' - ', '-' %}
{% assign macrotitle = macrotitle1 | replace: ' ', '-' %}
{% assign category = shop.metaobjects.macro_categories[macrotitle] %}

<h1>{{ macro['name'] }}</h1>
<p>{{ macro['description'] }}</p>
{{ macro['image'] | metafield_tag }}

{% assign subs = category.subcategories %}

{% for sub in subs.value %}
  <h1>{{ sub['name'] }}</h1>
  {{ sub['image'] | metafield_tag }}
{% endfor %}