{% assign macro = page.metafields.custom.reference %}

{% assign macrotitle1 = page.title | replace: ' - ', '-' %}
{% assign macrotitle = macrotitle1 | replace: ' ', '-' %}
{% assign category = shop.metaobjects['macro_categories'][macrotitle] %}

{% assign macroCategories = shop.metaobjects['macro_categories'] %}

  <p>{{ macro }}</p>
  <h1>{{ category.name }}</h1>
  {{ category.image | metafield_tag }}
  {% assign subs = category.subcategories %}

  <h1>Macrocategories</h1>
  {% for category in macroCategories %}
    {{ category }}
  {% endfor %}

  {% for sub in subs %}
      {{ sub }}
    {% endfor %}

  


