{% assign macro = page.metafields.custom.reference.value %}

<h1>{{ macro['name'] }}</h1>
<p>{{ macro['description'] }}</p>
{{ macro['image'] | metafield_tag }}

{% assign subs = category.subcategories %}

{% for sub in subs.value %}
  <h1>{{ sub['name'] }}</h1>
  {{ sub['image'] | metafield_tag }}
{% endfor %}