{% assign macro = page.metafields.custom.reference %}

{% assign macrotitle1 = page.title | replace: ' - ', '-' %}
{% assign macrotitle = macrotitle1 | replace: ' ', '-' %}
{% assign category = shop.metaobjects.macro_categories[macrotitle] %}

<h1>{{ category.name }}</h1>
<p>{{ category.description }}</p>
{{ category.image | metafield_tag }}
{% assign subs = category.subcategories %}

{% for sub in subs %}
  {{ sub }}
{% endfor %}

<hr>

{% for subcategory in collections.metafields.custom.subcategories_of %}
  {{ subcategory.name }}
{% endfor %}
