{% assign macro = page.metafields.custom.reference %}

{% assign macrotitle1 = page.title | replace: ' - ', '-' %}
{% assign macrotitle = macrotitle1 | replace: ' ', '-' %}
{% assign category = shop.metaobjects.macro_categories[macrotitle] %}

{% comment %}
  <h1>{{ category.name }}</h1>
  <p>{{ category.description }}</p>
  {{ category.image | metafield_tag }}
  {% assign subs = category.subcategories %}

  {% for sub in subs %}
    {{ sub }}
  {% endfor %}
{% endcomment %}

{% for macro_category in shop.metaobjects.macro_categories.values %}
  <h1>{{ macro_category.name }}</h1>
  <p>{{ category.description }}</p>
  {% for subcategory in category.sub_categories.values %}
    <h3>{{ subcategory }}</h3>
  {% endfor %}
{% endfor %}
