{% assign macro = page.metafields.custom.reference %}

{% assign macrotitle1 = page.title | replace: ' - ', '-' %}
{% assign macrotitle = macrotitle1 | replace: ' ', '-' %}
{% assign category = shop.metaobjects.macro_categories[macrotitle] %}

{% comment %}
  <h1>{{ category.name }}</h1>
  <p>{{ category.description }}</p>
  {{ category.image | metafield_tag }}
  {% assign subs = category.subcategories %}

  {% for sub in subs %}
    {{ sub }}
  {% endfor %}
{% endcomment %}

{% for macro_category in shop.metaobjects.macro_categories.values %}
  <h1>{{ macro_category.name }}</h1>
  <p>{{ macro_category.description }}</p>
  <p>Subcategories:</p>
  {% for subcategory in macro_category.metafields.sub_categories.value %}
    <h3>{{ subcategory.system.type }}</h3>
  {% endfor %}
{% endfor %}

<hr>

{% for subcategory in shop.metaobjects.sub_categories.values %}
  <h3>{{ subcategory.name }}</h3>
{% endfor %}
