{{ 'macrocategories.css' | asset_url | stylesheet_tag }}

{% assign macrocategory = page.metafields.custom.reference.value %}
{% assign subcategories = macrocategory.subcategories %}

<div class="page-width">
  <div class="section-macro-2">
    {% for subcategory in subcategories.value %}
      {% if forloop.index == section.settings.subid %}
        {% assign subcategoriescollections = subcategory.collections %}
        {% assign subcategoriespage = subcategory.page.value %}
        {% assign subimageurl = subcategory.image | image_url %}
        <div class="section-container-2">
          <style>
            .section-container-2{
              {% if section.settings.box_position == "left" %} flex-direction: row; {% else %}flex-direction: row-reverse;{% endif %}
            }
          </style>
          <div class="left" style="background-color: {{ section.settings.Color }};">
            <p class="bolded-h2" style="color: {{ section.settings.colorText }};">
              <strong>{{ subcategory.macro_section_title }}</strong>
            </p>
            <div class="link-shop" style=" border-color:{{ section.settings.colorText }};">
              <a href="{{ subcategoriespage.url }}" style="color: {{ section.settings.colorText }};">
                <strong>comprar todo {{ subcategory.name }}</strong>
              </a>
            </div>
          </div>
          <a href="{{ subcategoriespage.url }}" class="right" style="background-image: url('{{ subimageurl }}')"> 
          </a>       
        </div>

        <div class="section-bottom-2">
          {% for collection in subcategoriescollections.value %}
            {% if forloop.index <= section.settings.colnum %}
              <div class="column" style="background-color: {{ section.settings.colorItemsCollections }};">
                <a
                  src="{{ collection.image | image_url }}"
                  alt="sub image"
                  class="img"
                  style="background-color: {{ section.settings.ColorImageCollections }};"
                >
                </a>
                <a href="{{ collection.url }}">
                  <div class="link-container">
                    <h2 class="macro-link" style="color: {{ section.settings.colorText }};">{{ collection.title }}</h2>
                    <style>
                    .section-bottom-2 .iconNext {
                      fill: {{ section.settings.colorText }};
                    }
                  </style>
                    {% render 'nextIcon' %}
                  </div>
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
  "name": "Custom macrocategory 2",
  "settings": [
    {
     "type":"header",
     "content":" ------------- Configure section ------------- "
    },
    {
      "type": "number",
      "id": "subid",
      "label": "Id for sub of the macro you want to use for the section",
      "default": 1
    },
    {
      "type": "number",
      "id": "colnum",
      "label": "# Columns under section",
      "default": 3
    },
    {
     "type": "select",
     "id": "box_position",
     "label": "Horizontal alignment",
     "options": [
        {
         "value": "left",
         "label": "Left"
        },
        {
         "value": "right",
         "label": "Right"
        }
      ],
     "default": "left"
    },
    {
     "type":"header",
     "content":" ----------------- Text colors ----------------- "
    },
    {
      "type": "color",
      "id": "colorText",
      "label": "Text color",
      "default": "#000000"
    },
    {
      "type":"header",
      "content":" ------------ Background colors ------------ "
    },
    {
      "type": "color",
      "id": "Color",
      "label": "Background color item title",
      "default": "#F3EFEA"
    },
    {
      "type": "color",
      "id": "ColorImageCollections",
      "label": "Background collections image",
      "default": "#F3EFEA"
    },
    {
      "type": "color",
      "id": "colorItemsCollections",
      "label": "Background collections items",
      "default": "#FFFFFF"
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "category": "macro-category-2",
      "name": "Custom macrocategory 2 section Ashley"
    }
  ]
}
{% endschema %}
