{{ 'macrocategories.css' | asset_url | stylesheet_tag }}

{% assign macrocategory = page.metafields.custom.reference.value %}
{% assign subcategories = macrocategory.subcategories %}

<div class="page-width">
  <div class="section-macro-2">
    {% for subcategory in subcategories.value %}
      {% if forloop.index == section.settings.subid %}
        {% assign subcategoriescollections = subcategory.collections %}
        {% assign subcategoriespage = subcategory.page.value %}
        {% assign subimageurl = subcategory.image | image_url %}
        <div class="section-container-2">
          <style>
            .section-container-2{
              {% if section.settings.box_position == "left" %} flex-direction: row; {% else %}flex-direction: row-reverse;{% endif %}
            }
          </style>
          <div class="left"style="background-color: {{ section.settings.Color }};">
            <p class="bolded-h2"style="color: {{ section.settings.colorText }};">
              <strong>{{ subcategory.macro_section_title }}</strong>
            </p>
            <div class="link-shop" style=" border-color:{{ section.settings.colorText }};">
              <a href="#"style="color: {{ section.settings.colorText }};">
                <strong>Shop all {{ subcategory.name }}</strong>
              </a>
            </div>
          </div>
          <div class="right" style="background-image: url('{{ subimageurl }}')"><div></div></div>
        </div>

        <div class="section-bottom-2">
          {% for collection in subcategoriescollections.value %}
            {% if forloop.index <= section.settings.colnum %}
              <div class="column">
                <img src="{{ collection.image | image_url }}" alt="sub image" class="img">
                <a href="{{ collection.url }}">
                  <h2 class="sub-link">{{ collection.title }}</h2>
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
  "name": "Custom macrocategory 2",
  "settings": [
    {
      "type": "number",
      "id": "subid",
      "label": "id for sub of the macro you want to use for the section",
      "default": 1
    },
    {
      "type": "color",
      "id": "Color",
      "label": "Background color item title",
      "default": "#F3EFEA"
    },
    {
      "type": "color",
      "id": "colorText",
      "label": "Text color",
      "default": "#000000"
    },
     {
    "type": "select",
    "id": "box_position",
    "label": "Horizontal alignment",
    "options": [
      {
        "value": "left",
        "label": "Left"
      },
      {
        "value": "right",
        "label": "Right"
      }

    ],
    "default": "left"
    },
    {
      "type": "number",
      "id": "colnum",
      "label": "# columns under section",
      "default": 3
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "category": "macro-category-2",
      "name": "Custom macrocategory 2 section Ashley"
    }
  ]
}
{% endschema %}
