{{ 'macrocategories.css' | asset_url | stylesheet_tag }}

{% assign macrocategory = page.metafields.custom.reference.value %}
{% assign subcategories = macrocategory.subcategories %}
<div class="page-width">
  <h1 class="macro-cat-title">{{ macrocategory.name }}</h1>
  <div class="container" style="background-color: {{ section.settings.backgroundColor }};">
    <div class="heading">
      <div class="bolded-h">
        <strong>{{ macrocategory.section_1_text_1 }}</strong>
        <span span="nobold-h">{{ macrocategory.section_1_text_2 }}</span>
      </div>
    </div>
    <div class="column-container">
      {% for subcategory in subcategories.value %}
        {% if forloop.index <= section.settings.colnum %}
          {% assign subcategoriespage = subcategory.page.value %}
          <div class="column">
            <div class="sub-image-container">
              {% if subcategory.offertag != '' %}
                <div class="sale" style="background-color: {{ section.settings.backgroundSaleColor }};">
                  <p>{{ subcategory.offertag }}</p>
                </div>
              {% endif %}
              <img src="{{ subcategory.image | image_url }}" alt="sub image">
              <a href="{{ subcategoriespage.url }}">
                <h2 class="macro-link">
                  {{ subcategory.name }}
                </h2>
              </a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "Custom macrocategory",
  "settings": [
    {
      "type": "number",
      "id": "colnum",
      "label": "# columns inside section",
      "default": 3
    },
    {
      "type": "color",
      "id": "backgroundColor",
      "label": "Section background color",
      "default": "#fffaee"
    },
    {
      "type": "color",
      "id": "backgroundSaleColor",
      "label": "Sale background color",
      "default": "#c60f2f"
    },
    {
      "type":"header",
      "content":" ----- Right header settings ----- "
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "category": "macro-category-1",
      "name": "Custom macrocategory 1 section Ashley"
    }
  ]
}
{% endschema %}
