{%- style -%}
  .macrocategory-card-background {
    width: 100%;
    padding: 6em 12em;
  }

  .macrocategory-card-background>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
{%- endstyle -%}

{% assign macrocategory = page.metafields.custom.reference.value %}

<div class="macrocategory-card-background">
  {{ macrocategory.image | metafield_tag }}
</div>

<h1>{{ macrocategory.name }}</h1>
<p>{{ macrocategory.description }}</p>

{% assign subcategories = macrocategory.subcategories %}

{% for subcategory in subcategories.value %}
  <h1>{{ subcategory.name }}</h1>
  {{ subcategory.image | metafield_tag }}
{% endfor %}
