<style>
  .column-container{
    display: grid;
    grid-template-columns: repeat({{ section.settings.columns-desktop | string }}, 1fr);
    justify-items: start;
    alignt-items: center;
  }
  .section-title-container{
    display: block;
    width: 100%;
    border-bottom: 1px solid #C9C9C9;
  }
  .columna{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .column-image {
    width: 50%;
  }
</style>

<div class="help-section page-width">
  <div class="section-title-container">
    <h2>
      {{ section.settings.title }}
    </h2>
  </div>
  <div class="column-container">
    {% for block in section.blocks %}
      {% if block.type == 'columna' %}
      <a class="columna" href="{{ block.settings.url }}">
        <p>
          {{ block.settings.title }}
        </p>
        {{ block.settings.image | image_url: width: 300 | image_tag: width: '300px', class: 'column-image' }}
      </a>
        {% endif %}
      {% if block.type == 'columna_2' %}
        <div class="columna">
        <p>
          {{ block.settings.title1 }}
        </p>
        <p>
          {{ block.settings.title2 }}
        </p>
        <p>
          {{ block.settings.title3 }}
        </p>
      <a href="{{ block.settings.url }}">
        {{ block.settings.title }}
      </a>
        </div>
        {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "help",
  "settings": [
   {
     "type": "text",
     "id": "title",
     "label": "title"
   },
         {
           "type": "number",
           "id": "columns-desktop",
           "label": "Columnas escritorio",
           "default": 4
         }
  ],
  	"blocks": [
     {
       "name": "columna",
       "type": "columna",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
         {
           "type": "url",
           "id": "url",
           "label": "URL"
         },
         {
           "type": "text",
           "id": "title",
           "label": "title"
         }
       ]
     },
      {
       "name": "columna 2",
       "type": "columna_2",
       "settings": [
         {
           "type": "text",
           "id": "title1",
           "label": "Titulo 1"
         },
         {
           "type": "text",
           "id": "title2",
           "label": "Titulo 2"
         },
         {
           "type": "text",
           "id": "title3",
           "label": "Titulo 3"
         },
         {
           "type": "url",
           "id": "url",
           "label": "URL"
         },
         {
           "type": "text",
           "id": "title",
           "label": "Texto boton"
         }
       ]
     }
  ],
  "presets": [
    {
      "name": "custom help"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
