{{ 'subcategories.css' | asset_url | stylesheet_tag }}

{% assign subcategory = metaobject %}
{% assign collections = subcategory.collections %}
{% for collection in collections.value %}
  {% if forloop.index == section.settings.subid %}
    {% assign collectionsarray = subcategory.collections %}
    <div class="page-width">
      <p class="heading-subcategory-6">{{ subcategory.name }}</p>
      <div class="sub-section-6">
        <div class="collections-6">
          {% assign limit = section.settings.numberCollections %}
          {% for collection in collectionsarray.value %}
            {% assign collectionpage = collection.url %}

            {% if forloop.index <= limit %}
              <div class="collection-6">
                <a href="{{ collectionpage }}">
                  <img src="{{ collection.metafields.custom.roomimage | image_url }}" alt="collection image"
                ></a>
                <a href="{{ collectionpage }}">
                  <p>
                    <strong>{{ collection.title }}</strong>
                  </p>
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}

{% schema %}
{
  "name": "sub-category-6",
  "settings": [
    {
      "type": "number",
      "id": "subid",
      "label": "id for sub of the macro you want to use for the section",
      "default": 2
    },
    {
      "type": "number",
      "id": "numberCollections",
      "label": "number of collections in the section",
      "default": 2
    }
  ],
  "presets": [
  {
    "category": "macro-category-5",
    "name": "Custom macrocategory 5 section Ashley"
  }
]
}
{% endschema %}
