{% style %}
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
  }
  .sub-cat-title {
    font-family: Open Sans;
    font-size: 28px;
    font-weight: normal;
    line-height: 36px;
    letter-spacing: 0;
    text-align: left;
    text-transform: capitalize;
    margin: 20px 50px 30px;
  }
  .heading span {
    margin: 0 0 0 1px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    color: #393731;
  }
  .container {
    padding: 50px 0px;
    margin: 0px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFAEE;
  }
  .heading {
    display:flex;
    justify-content: center;
    align-items: flex-end;
  }
  .column-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .column {
    width: 30%;
  }
  .col-image-container {
    position: relative;
    margin: 0px 10px;
  }
  .sub-sale{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 12%;
    top: 0;
    right: 0;
    background: #C60F2F;
   }
  .sub-sale p{
    text-transform: uppercase;
    font-family: Open Sans;
    font-size: 0.9em;
    font-weight: 200;
    margin: 3px 0px 0px 9px;
    padding: 10px 20px 10px 20px;
    color: #fff;
  }
  .sub-sale p sup{
      font-size: 0.6em;
    }
  .col-image-container img {
    width: 100%;
    max-width: 100%;
    height: 275px;
    background-size: cover;
    object-fit: cover;
    object-position: center;
  }
  .col-link {
    text-transform: uppercase;
          font-family: Open Sans;
          font-size: 1em;
          font-weight: 500;
          margin: 3px 0px 0px 1px;
          padding-bottom: 10px;
  }
  .col-link::after {
     margin-left: 5px;
        background-image: url('https://cdn.shopify.com/s/files/1/0703/9723/1413/files/32213.png?v=1679027077');
        background-size: 10px 10px;
        display: inline-block;
        width: 10px;
        height: 10px;
        content:"";
  }
  
  .bolded-h {
    margin: 0px 0px 12px 0px;
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -0.4px;
    color: black;
  }
  
{% endstyle %}

{% assign subcategory = page.metafields.custom.reference.value %}
{% assign collections = subcategory.collections %}
<div class="page-width">
  <div></div>
  <h1 class="sub-cat-title">{{ subcategory.name }}</h1>
  <div class="container">
    <div class="heading">
      <div class="bolded-h">
        <strong>{{ section.settings['bold-section-heading'] }}</strong>
        <span span="nobold-h">{{ section.settings['no-bold-section-heading'] }}</span>
      </div>
    </div>
    <div class="column-container">
      {% for collection in collections.value %}
        {% assign collectionpage = collection.url %}
        <div class="column">
          <div class="col-image-container">
            {% if subcategory.offertag != '' %}
                <div class="sub-sale">
                  <p class="offer-tag-sub">{{ subcategory.offertag }}</p>
                </div>
              {% endif %}
            <img src="{{ collection.metafields.image.room | image_url }}" alt="sub image">
            <a href="{{ collectionpage.url }}">
              <h2 class="col-link">
                {{ collection.title }}
              </h2>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom subcategory",
  "settings": [
    {
      "type": "text",
      "id": "bold-section-heading",
      "label": "Bold columns heading",
      "default": "aniversary sale"
    },
    {
      "type": "text",
      "id": "no-bold-section-heading",
      "label": "No bold columns heading",
      "default": "Styles for days."
    }
  ],
  "blocks": [],
  "presets": [
    {
      "category": "sub-category-1",
      "name": "Custom subcategory 1 section Ashley"
    }
  ]
}
{% endschema %}
