{{ 'subcategories.css' | asset_url | stylesheet_tag }}

{% assign subcategory = page.metafields.custom.reference.value %}
{% assign collections = subcategory.collections %}

<div class="page-width">
  <p class="title-subcategory-5">{{ subcategory.name }}</p>
  <div class="sub-section-5">
    <div class="subcategories-5">
      <div class="subcategory-scroll">
        {% for collection in collections.value %}
          <div class="subcategory-5">
            <img src="{{ collection.image | image_url }}" alt="collection image">
            <p>{{ collection.title }}</p>
            <div
            class="link-shopNow {% if section.settings.Border_style == "style1"%} hidden {% endif %}"
            style="color: {{ section.settings.colorText }}; border-color:{{ section.settings.colorText }};"
          >
            <a href="#" style="color: {{ section.settings.colorText }};">
              <strong>Shop now</strong>
            </a>
          </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "sub-category-5",
  "settings": [
    {
      "type": "color",
      "id": "Color",
      "label": "Background color",
      "default": "#F3EFEA"
    },
    
   {
    "type": "color",
    "id": "colorText",
    "label": "Text color",
    "default": "#000000"
   },
   {
    "type": "select",
    "id": "Shop_border_style",
    "label": "Shop border style",
    "options": [
      {
        "value": "style1",
        "label": "style 1"
      },
      {
        "value": "style2",
        "label": "style 2"
      },
      {
        "value": "style3",
        "label": "style 3"
      }
    ],
    "default": "style2"
  }
  ],
  "presets": [
  {
    "category": "sub-category-5",
    "name": "Custom subcategory 5 section Ashley"
  }
]
}
{% endschema %}
