{{ 'subcategories.css' | asset_url | stylesheet_tag }}

{% assign subcategories = shop.metaobjects.sub_categories %}
<div class="page-width">
  <div class="section-sub-4">
    {% for subcategory in subcategories.values %}
      {% if forloop.index == section.settings.subid %}
        {% assign collections = subcategory.collections %}
        {% assign subimageurl = subcategory.image | image_url %}
        <div
          class="section-container-sub-4"
          style="{% if section.settings.box_position == "left" %} flex-direction: row; {% else %}flex-direction: row-reverse;{% endif %}"
        >
          <div class="left" style="background-image: url('{{ subimageurl }}')"></div>
          <div class="right" style="grid-template-columns: repeat({{ section.settings.colnum }}, 1fr)">
            <div class="item" style="background-color:{{ section.settings.Color }};">
              <p class="sub-title" style="color: {{ section.settings.colorText }};">
                <strong>{{ subcategory.description }}</strong>
              </p>
              <div class="link-shop-s4">
                <a
                  href="{{ subcategory.page.url }}"
                  class="collection-link {% if section.settings.Border_style == "style1"%} style1 {% elsif section.settings.Border_style == "style2" %} style2 {% else %} style3 {% endif %}"
                  style="color: {{ section.settings.colorText }};"
                  >Shop all</a
                >
              </div>
            </div>
            {% for collection in collections.value %}
              <div class="item" style="background-color:{{ section.settings.itemColor }};">
                <img src="{{ collection.image | image_url }}" alt="Collection Image" class="img-item">
                <p class="collection-title" style="color: {{ section.settings.colorText }};">{{ collection.title }}</p>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
    {
  "name": "Custom subcategory 4",
  "settings": [
    {
      "type": "number",
      "id": "subid",
      "label": "id for sub of the macro you want to use for the section",
      "default": 2
    },
    {
    "type": "number",
  "id": "colnum",
  "label": "# of columns",
  "default": 3
    },
    {
      "type": "color",
      "id": "Color",
      "label": "Background item title",
      "default": "#F3EFEA"
    },
    {
      "type": "color",
      "id": "itemColor",
      "label": "Background item color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "colorText",
      "label": "Text color",
      "default": "#000000"
    },
    {
    "type": "select",
    "id": "box_position",
    "label": "Horizontal alignment",
    "options": [
      {
        "value": "left",
        "label": "Left"
      },
      {
        "value": "right",
        "label": "Right"
      }

    ],
    "default": "left"
    },
    {
    "type": "select",
    "id": "Border_style",
    "label": "Border style",
    "options": [
      {
        "value": "style1",
        "label": "style 1"
      },
      {
        "value": "style2",
        "label": "style 2"
      },
      {
        "value": "style3",
        "label": "style 3"
      }
    ],
    "default": "style1"
  }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "category": "sub-category-4",
      "name": "Custom subcategory 4 section Ashley"
    }
  ]
}
{% endschema %}
