{{ 'subcategories.css' | asset_url | stylesheet_tag }}

{% assign subcategory = metaobject %}
{% assign collections = subcategory.collections %}

<div class="page-width">
  <p class="heading-categories">Compra por categoría</p>
  <div class="sub-category-2">
    <div class="collections">
      {% for collection in collections.value %}
        <div class="collection">
          {% assign collectionpage = collection.url %}
          <div class="imagewrap" style="background-color: {{ section.settings.circle_color }}">
            <a href="{{ collectionpage }}">{{ collection.image | image_url: width: 300 | image_tag }}</a>
          </div>
          <a href="{{ collectionpage }}">
            <p>{{ collection.title }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
  {
  "name": "sub-category-2",
  "settings": [
    {
      "type": "color",
      "id": "circle_color",
      "label": "Body text",
      "default": "#F9F9F9"
    }
  ],
  "presets": [
  {
    "category": "sub-category-2",
    "name": "Custom subcategory 2 section Ashley"
  }
]
}
{% endschema %}
