{{ 'subcategories.css' | asset_url | stylesheet_tag }}

{% assign subcategory = metaobject %}
{% assign collections = subcategory.collections %}

<div class="page-width">
  <a href="{{ subcategory.url }}" style="color: {{ section.settings.colorText }};">
    <p class="title-subcategory-5">{{ subcategory.name }}</p>
  </a>
  <div class="sub-section-5">
    <div class="subcategories-5">
      <div class="subcategory-scroll">
        {% for collection in collections.value %}
          {% assign collectionpage = collection.url %}
          <a href="{{ collectionpage }}">
            <div class="subcategory-5" style="background-color:{{ section.settings.Color }};">
              <img src="{{ collection.image | image_url }}" alt="collection image">
              <p style="color: {{ section.settings.colorText }};">{{ collection.title }}</p>
              <a
                class="collection-title  {% if section.settings.Border_style == "style1"%} style1 {% elsif section.settings.Border_style == "style2" %} style2 {% else %} style3 {% endif %}"
                style="color: {{ section.settings.colorText }}; border-color:{{ section.settings.colorText }};"
              >
                <strong><a href="{{ collectionpage }}" style="color: black;">Comprar ahora</a></strong>
              </a>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "sub-category-5",
  "settings": [
    {
      "type": "color",
      "id": "Color",
      "label": "Background color",
      "default": "#F3EFEA"
    },
   {
    "type": "color",
    "id": "colorText",
    "label": "Text color",
    "default": "#000000"
   },
   {
    "type": "select",
    "id": "Border_style",
    "label": "Shop border style",
    "options": [
      {
        "value": "style1",
        "label": "style 1"
      },
      {
        "value": "style2",
        "label": "style 2"
      },
      {
        "value": "style3",
        "label": "style 3"
      }
    ],
    "default": "style2"
  }
  ],
  "presets": [
  {
    "category": "sub-category-5",
    "name": "Custom subcategory 5 section Ashley"
  }
]
}
{% endschema %}
